@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* importando fonte do google para usar*/

* { /* Seletor Geral */
    font-family: "Roboto", sans-serif; /* Aplica a fonte inportada do google*/
    margin: 0; 
    padding: 0;
}

header{
    background-color: #3c63b5;
    padding: 20px;
}

nav.menu > ul{
    display: flex; /* disposição dos elemtos na tela( sem em bloco ou em linha)*/
    gap: 50px; /*da um espaço entre os itens (antes definido pelas margens) */
}

nav.menu li {
    list-style-type: none;  /* Remove bolinhas da lista */
}

nav.menu li > a{
    color: #cccccc;
    text-decoration: none; /* Remove o sublinhado*/
    font-weight: bold; /* Deixa a letra mais grossa*/
    text-transform: uppercase; /* Deixa letra Maiúscula*/
}

nav.menu li > a:hover{ /* Adiciona efeito quando passa o mouse*/
    color: white;
    text-decoration: underline; /* Adiciona sublinhado*/
}


section {
    text-align: center; /* Alinha texto no centro*/
    padding: 48px;
    border-bottom: 1px solid #c9c9c9;
}

section{ /* define um display padão para todas as sections*/
    display: flex; /* disposição dos elementos na tela(se em bloco ou em linha)*/
    justify-content: center; /* Define o alinhamento ao longo do eixo principal (horizontal).*/
    align-items: center; /* alinha os itens no eixo vertical */
}

section#pagina-inicial{
    flex-direction: row-reverse; /* define a direção do coteúdo flex (row ou column), reverse( de trás para frente)*/
}

section#quem-somos{
    gap: 40px; /*da um espaço entre os itens (antes definido pelas margens) */
}

section#quem-somos > div{
    text-align: start; /* alinha o conteúdo de texto no inicio*/
    width: 38%; /* define uma largura para a div */
    
}

section#planos{
    flex-direction: column; /* define a direção da section flex ( em coluna) */ 
}

img {
    width: 35%; /* Dimensões verticais e horizontais*/
    height: 35%;
}

h2 {
    font-size: 50px; /* Tamanho da fonte/letra*/
    margin: 12px 0;
}

button.botao-padrao {
    background-color: #3c63b5; /* Cor de fundo*/
    color: #ffffff; /* Cor da letra*/
    padding: 18px 48px; /* margem interna*/
    border-radius: 48px; /* borda arredondada*/
    border: none;
    font-size: 15px;
    margin-top: 20px; /* margem externa superior*/
    margin-bottom: 20px;
}

button.botao-padrao:hover{
    cursor: pointer; /* Muda o cursor do mouse*/
    font-weight: bold;
}

table{
    border-collapse: collapse; /* Cria Linha inteira nas divisões da tabela*/
    width: 50%;bo
}
td, th {
    border: 1px solid #c9c9c9;
    padding: 15px;
    text-align: center;
}

#btn-whats{ /* cria botão fixo na tela*/
    position: fixed;
    bottom: 30px;
    right: 30px;
}

a#btn-whats > img{ /* (seletor ID) define tamanho da img filha direta da tag (a) com o ID (btn-whats)*/
    width: 80px;
}

footer {
    text-align: center;
    padding: 20px;
    color: darkgrey;
    font-size: 14px;
}