
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* importando fonte do google para usar*/

* { /* Seletor Geral */
    font-family: "Roboto", sans-serif; /* Aplica a fonte inportada do google*/
    margin: 0; 
    padding: 0;
}

header{
    background-color: #3c63b5;
    padding: 6px;
}

nav.menu li {
    display: inline-block;  /* Ativa o Flexbox e deixa lado a lado*/
    list-style-type: none;  /* Remove bolinhas da lista */
    margin: 24px;
}

nav.menu li > a{
    color: #ffffff;
    text-decoration: none; /* Remove o sublinhado*/
    font-weight: bold; /* Deixa a letra mais grossa*/
    text-transform: uppercase; /* Deixa letra Maiúscula*/
}

nav.menu li > a:hover{ /* Adiciona efeito quando passa o mouse*/
    color: rgb(0, 140, 255);
    text-decoration: underline; /* Adiciona sublinhado*/
}


section {
    text-align: center; /* Alinha texto no centro*/
    padding: 48px;
    border-bottom: 1px solid #c9c9c9;
}

img {
    width: 35%; /* Dimensões verticais e horizontais*/
    height: 35%;
}

h2 {
    font-size: 50px; /* Tamanho da fonte/letra*/
    margin: 12px 0;
}

button.meu-botao {
    background-color: #3c63b5; /* Cor de fundo*/
    color: #ffffff; /* Cor da letra*/
    padding: 18px 48px; /* margem interna*/
    border-radius: 48px; /* borda arredondada*/
    border: none;
    font-size: 15px;
    margin-top: 20px; /* margem externa superior*/
    margin-bottom: 20px;
}

button.meu-botao:hover{
    cursor: pointer; /* Muda o cursor do mouse*/
    font-weight: bold;
}


table{
    border-collapse: collapse; /* Cria Linha inteira nas divisões da tabela*/
    width: 50%;
    margin: 0 auto;
    
}
td, th {
    border: 1px solid #c9c9c9;
    padding: 15px;
    text-align: center;
}

#btn-whats{ /* cria botão fixo na tela*/
    position: fixed;
    bottom: 30px;
    right: 30px;
}

a#btn-whats > img{ /* (seletor ID) define tamanho da img filha direta da tag (a) com o ID (btn-whats)*/
    width: 80px;
}

footer {
    text-align: center;
    padding: 20px;
    color: darkgrey;
    font-size: 14px;
}